body {
  background-image: url('./../assets/images/wifibg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#voucherPanel {
  max-width: 30em;
}
#voucherSelect {
  max-width: 20em;
}
#voucherReadOnly {
  max-width: 8em;
  display: inline;
  text-align: center;
}
#printButton {
  display: block;
}
#errorMessage {
  color: #e60000;
  font-size: 115%;
}

#printButton {
  max-width: 15em;
}
