body {
  background-image: url('./../assets/images/wifibg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#voucherPanel {
  max-width: 30em;
}
#voucherSelect {
  max-width: 20em;
}
#voucherReadOnly {
  max-width: 8em;
  display: inline;
  text-align: center;
}
#printButton {
  display: block;
}
#errorMessage {
  color: #ffffff;
  font-size: 115%;
}

#printButton {
  max-width: 15em;
}
#importContainer{
  background-color: rgba(255,255,255,0.8);
  max-width: 27em;
}
#importContainer h2 {
  font-weight: bold;
}
#importStatus {
  color: rgb(14, 126, 0)
}
